In [0]:

from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/'Team Drives'/NLP/

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/Team Drives/NLP

In [0]:
!ls

 auto_profilling.ipynb	  get_tweet_train_dataset.ipynb
 dataset		 'link paper.txt'
 donwload_dataset.ipynb  'yg pakai data training aja.ipynb'

In [0]:
!pip install tweepy
import pandas as pd
import numpy as np
import collections
import tweepy
import time
from xml.dom import minidom

Requirement already satisfied: tweepy in /usr/local/lib/python3.6/dist-packages (3.7.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.11.0)
Requirement already satisfied: PySocks>=1.5.7 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.6.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.0.0)
Requirement already satisfied: requests>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy) (2.18.4)
Requirement already satisfied: oauthlib>=0.6.2 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (2.1.0)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2018.10.15)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (1.22)

In [0]:
class Twitter:
  def __init__(self):
    consumer_key = '3Dq5pY4ZjFeO5zcV3FjTjx9uK'
    consumer_secret = 'KTqyYyKKQXPHYxFeSHZ4iN4Kgx6REgIt5kUdDMjL7OAYhixOhF'
    access_token = '255021617-t389fy0HTsrWeMC0YcQw9jyRxsAEaecpAitW0TI6'
    access_token_secret = 'NHlAKMQphnZ3sput3qkYD8OgxSYDcaZk7oaK01fd7fl7g'
    self.__auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    self.__auth.set_access_token(access_token, access_token_secret)
    self.__api = tweepy.API(self.__auth, wait_on_rate_limit=True)
    
  def get_status(self, tweet_id):
    try:
      tweet = self.__api.get_status(tweet_id)
      return tweet.text
    except:
      # For deleted status
      return None

twitter = Twitter()

In [0]:
# Read dataset
train_truth_files = ['en', 'es', 'nl']
# columns = ['author', 'status_id', 'status', 'gender', 'age']
columns = ['status_id', 'status', 'gender', 'age']
train_path = 'dataset/test/'
train = collections.defaultdict()
n_train = 2500
for truth_file in train_truth_files:
  data = collections.defaultdict(list)
  counter_gender = collections.Counter()
  
  for line in open(train_path + truth_file + '/truth.txt'):
    author, gender, age = line.strip().split(sep=':::')
    if counter_gender['MALE'] == n_train and counter_gender['FEMALE'] == n_train:
      break
      
    # Access .xml file
    xml_file = minidom.parse(train_path + truth_file + '/' + author + '.xml')
    docs = xml_file.getElementsByTagName('document')
    for i, doc in enumerate(docs):
      if counter_gender[gender] >= n_train:
        break
      status_id = doc.attributes['id'].value
      status = twitter.get_status(status_id)
      if status != None:
        counter_gender[gender] += 1
        # data['author'].append(author)
        data['status_id'].append(status_id)
        data['status'].append(status)
        data['gender'].append(gender)
        data['age'].append(age)
        print(dict(counter_gender))
        print(i, status_id, status, gender, age)

  train[truth_file] = pd.DataFrame(data, columns=columns)
  train[truth_file].to_csv(train_path + truth_file + '.csv')
  print(train[truth_file].head())

In [0]:
train['en'].head()

NameError: ignored

In [0]:
train['es'].head()

,status_id,status,gender,age
0,325923740657537024,Para ti ;) RT “@alfarmada: El mundo eres tú. Y...,FEMALE,35-49
1,325979138609528832,I wonder...\nRegalos deliciosos.\nhttp://t.co/...,FEMALE,35-49
2,326007809072324611,@Nirekatu @aidendemiguel ;) sólo trabajamos e...,FEMALE,35-49
3,326009625101086720,!!! RT “@javierpascual: Un niño en Palestina: ...,FEMALE,35-49
4,326064698292322305,No puedo ser más fan de @cristina_pardo. Chica...,FEMALE,35-49

In [0]:
train['nl'].head()

,status_id,status,gender,age
0,378147159758999553,"@johanvgrinsven Geen idee, ik ben nog op mijn ...",FEMALE,XX-XX
1,378148390262931456,@johanvgrinsven Dat snap ik..zalm en frikandel...,FEMALE,XX-XX
2,378434763113373696,45 taarten in de #Allerhande...maak me gek #AH...,FEMALE,XX-XX
3,378778327622090752,Dat begint al goed...de 1e competitiewedstrijd...,FEMALE,XX-XX
4,379658720281903105,Dubbele #regenboog tijdens een nazomerse #onwe...,FEMALE,XX-XX